.page {
  max-width: 1140px;
  margin: 0 auto;
}

.slider {
  max-width: 1140px;
  margin: 30px auto;
}



@media (prefers-color-scheme: dark) {
  .page {

  }
}



@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
